---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Psychs";
import { getCollection } from 'astro:content';
const substances = await getCollection('substances');
---

<BaseLayout pageTitle={pageTitle}>
<div class="container px-6 mx-auto">
  <h3>Psychoactive pages: </h3>
      <ul >
    {substances.map((substance) => (
      <li><a class="font-medium text-blue-600 underline dark:text-blue-900 hover:no-underline" href={`${import.meta.env.BASE_URL}substances/` + substance.slug}> {substance.data.title} </a></li>
      ))}</ul>

</div>
</BaseLayout>

