---
import data from '../data.json';
import Grid from '../components/grid.astro';
import Disclaimer from '../components/disclaimer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Combos";
---
<BaseLayout pageTitle={pageTitle} metaDescription={"Psychoactive Combination Safety Matrix. This is a resource for harm reduction to learn about safety risks of combining drugs, substances, entheogens and other psychoactives"}>
<div class="container px-6 mx-auto">
  <section class="mb-2 text-gray-800">
    <div class="grow-0 shrink-0 basis-auto ">
          <div class="max-w-2xl mx-auto">
            <h2 class="text-2xl font-bold mb-4">Psychoactive Combination Matrix</h2>
            <p class="text-gray-500 mb-6">
              Click psychoactives and learn their combination risk. The intersection of psychoactives on the chart is coloured to show their risk rating of a psychoactive product combination.
            </p><p class="text-gray-500 mb-6">
              Click a coloured square to learn more about the combination. Or click on psychoactives to learn their effects, durations and dosages.
            </p>
          </div>
        </div>
  </section>
</div>
		<Grid page={""} data={data} />
<Disclaimer />
</BaseLayout>
