---
import data from '../data.json';
import Grid from '../components/grid.astro';
import Disclaimer from '../components/disclaimer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Combos";
---

<BaseLayout pageTitle={pageTitle}>
<div class="container px-6 mx-auto">

  <section class="mb-2 text-gray-800">
    <div class="grow-0 shrink-0 basis-auto ">
          <div class="px-6 py-12 md:px-12">
            <h2 class="text-2xl font-bold mb-4">Psychoactive Combination Matrix</h2>

            <p class="text-gray-500 mb-6">
              Psychoactive products are listed along the top and side of the matrix. The intersection of each row and column is coded to show the risk rating of a psychoactive product combination. Simply select the psychoactive products you would like the matrix to display.
            </p><p class="text-gray-500 mb-6">
Click a risk rating to learn more about how the risk rating was calculated. We aim to provide experience reports demonstrating the rating and research publications to help understand detail around each combination risk.
</p>
<p class="text-gray-500 mb-6">
If there is a psychoactive product that is not listed but should be, or if you have an experience report or research publication relating to a psychoactive combination listed on this chart, please share this information with us so we can improve this resource.
            </p>
          </div>
        </div>
  </section>


</div>


		<Disclaimer />

		<Grid page={""} data={data} />


</BaseLayout>
