---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Combos";
---
<BaseLayout
  pageTitle={pageTitle}
  metaDescription={"Psychoactive Combination Safety Matrix. This is a resource for harm reduction to learn about safety risks of combining drugs, substances, entheogens and other psychoactives"}
>
<h1 class="text-xl font-bold mb-4">PsychCombo Privacy Policy</h1>
<br>
<p class="text-gray-500 mb-6">PsychCombo does not collect, transmit, distribute or sell your personal data.</p>
<br>
<p class="text-gray-500 mb-6">PsychCombo and its developer take your privacy very seriously. It does not use third-party analytics or advertising frameworks. PsychCombo does not collect any personal information about you. The limited information that is made available to the developer by the Play Store system is used only to ensure proper operation of the app, and is never transferred from the developer to any third parties for any reason. That information includes only basic device information like country, OS screen resolution, and device model.
</p>
</BaseLayout>