---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Search";
---

<BaseLayout pageTitle={pageTitle}>
<div class="container px-6 mx-auto">
  ohai
</div>
</BaseLayout>

