---
import BaseLayout from '../layouts/BaseLayout.astro';
import Icon from "heroicons-astro/Heroicon.astro";
import Search from '../components/search.tsx';

const pageTitle = "Search";
import { getCollection } from 'astro:content';
const substances = await getCollection('psychoactives');

let preact_data = []
for (let sub of substances){
  let item = {
    title : sub.data.title,
    slug : sub.slug,
    aka : sub.data.aka,
    fam : sub.data.family_members
  }
  preact_data.push(item)
}
---

<BaseLayout pageTitle={pageTitle} metaDescription={"Search for Psychoactives information. This is the search page for harm reduction to learn about safety risks of drugs, substances, entheogens and other psychoactives"}>
<div class="container px-6 mx-auto">
  <Search data={preact_data} client:visible />
</div>
</BaseLayout>

