---
import { getEntryBySlug } from 'astro:content';
import { linkify } from '../util';
import Icon from "heroicons-astro/Heroicon.astro";
const { combo, conf } = Astro.props;
let slug = linkify(combo)
const page = await getEntryBySlug('combos', slug);
let link = (!!page)
let warn = (conf == 'Low confidence')
---
{warn && <Icon iconCode="exclamation-circle" iconStyle="outline" customClasses="h-6 w-6 inline" />}

{!link && combo}
{link && <a class="font-medium text-black underline hover:no-underline w-full h-full block" href={`${import.meta.env.BASE_URL}combos/` + slug}> {combo} </a>}
