<div
  class="block rounded-lg my-6 bg-red-50 p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] max-w-2xl mx-auto" >
  <h3
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
    Disclaimer
  </h3>
  <p class="mb-4 text-base text-neutral-600 ">
    This website may contain errors. If you find one, please help us fix it.
  </p>
  <p class="mb-4 text-base text-neutral-600 ">
    Psychoactive use is embedded in cultural and environmental contexts and should be treated with caution and respect.
  </p>
  <p class="mb-4 text-base text-neutral-600 ">
    We promote psychoactive science and do not endorse illegal activity. We are fully compliant with NSW and federal Australian law.
  </p>
</div>
