<div
  class="block rounded-lg my-6 bg-red-100 p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] max-w-2xl mx-auto" >
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
    Disclaimer
  </h5>
  <p class="mb-4 text-base text-neutral-600 ">
    Psychoactive combinations are hard to measure and compare. Use this resource alongside more information and other harm reduction supports. These supports should include a comfortable set and setting, measured dosage and trusted carers.
  </p>
  <p class="mb-4 text-base text-neutral-600 ">
Psychoactive use is embedded in cultural contexts and should be treated with caution and respect. Ensure to understand local laws, traditions and sustainability before working with any psychoactive product.
  </p>

</div>
