---
import { getEntryBySlug } from 'astro:content';
import { linkify } from '../util';
const { slug } = Astro.props;
let actual = linkify(slug)
const page = await getEntryBySlug('substances', actual);
let link = (!!page)
---
{!link && actual}
{link && <a href={'/safety_matrix/substances/' + actual}> {slug} </a>}

