---
import { getEntryBySlug } from 'astro:content';
const { slug } = Astro.props;
const page = await getEntryBySlug('substances', slug);
let link = (!!page)
---
{!link && slug}
{link && <a href={'/safety_matrix/substances/' + slug}> {slug} </a>}

