---
import { getEntryBySlug } from 'astro:content';
import { linkify } from '../util';
const { drug } = Astro.props;
let slug = linkify(drug)
const page = await getEntryBySlug('substances', slug);
let link = (!!page)
---
{!link && drug}
{link && <a href={'/safety_matrix/substances/' + slug}> {drug} </a>}

