---
const { slug,type } = Astro.props;
---
<p>Disagree? Found a typo? Got more info? <a class="font-medium text-blue-600 underline dark:text-blue-900 hover:no-underline" href={`https://github.com/mastfissh/safety_matrix/edit/main/src/content/${type}/${slug}.mdx`}> Edit this page </a> or <a href="mailto:liam@themescalinegarden.com">email us</a></p>
