<footer class="bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl">
    <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase">
          Contact Us
        </h2>
        <ul class="text-white font-medium">
          <li class="mb-4">
            <a href="mailto:liam@themescalinegarden.com" class="hover:underline"
              >Email</a
            >
          </li>
          <li class="mb-4">
            <a
              href="https://github.com/mastfissh/safety_matrix/issues"
              class="hover:underline">Github</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase">Sitemap</h2>
        <ul class="text-white font-medium">
          <li class="mb-4">
            <a href="/" class="hover:underline">Combos</a>
          </li>
          <li class="mb-4">
            <a href="/psychoactives" class="hover:underline">Psychoactives</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white uppercase">
          Other Resources
        </h2>
        <ul class="text-white font-medium">
          <li class="mb-4">
            <a
              href="https://www.themescalinegarden.com/"
              class="hover:underline">The Mescaline Garden</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="px-4 py-6 md:flex md:items-center md:justify-between">
      <span class="text-sm text-white sm:text-center">
        Open Source. Coded by <a href="https://github.com/mastfissh"
          >mastfissh.</a
        > Content by <a href="www.liamengel.doctor">Liam Engel.</a>
      </span>
    </div>
  </div>
</footer>
