
<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl">
      <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
        <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Contact Us</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                    <a href="mailto:liam@themescalinegarden.com" class="hover:underline">Email</a>
                </li>
                <li class="mb-4">
                    <a href="https://github.com/mastfissh/safety_matrix/issues" class="hover:underline">Github</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Sitemap</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                    <a href="/" class="hover:underline">Safety Grid</a>
                </li>
                <li class="mb-4">
                    <a href="/psychoactives" class="hover:underline">Psychs</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="px-4 py-6 bg-gray-100 dark:bg-gray-700 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center">
          Created in 2023
        </span>
        </div>
      </div>
    </div>
</footer>
