---
const { risk } = Astro.props;

let risk_map = {
  SR: "Significant risk: Danger! This is our most dangerous combination rating.",
  GR: "Greater risk: Careful... This combination has a fair chance of harm.",
  MR: "Minor risk: Watch out, this combination might have some unwanted effects.",
  LRS: "Low risk synergy: This combination will enhance the effects of each psychoactive, or sometimes give new effects.",
  LRD: "Low risk decrease: This combination will decrease the effects of one or both of these psychoactives.",
  LRNS: "Low risk no synergy: This combination won't do much more than the individual effects of the psychoactives involved.",
};
---

{risk && <p>{risk_map[risk]}</p>}
