td.danger{background-color: red;}
td.safe{background-color: green;}
td.unknown{background-color: grey;}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}
th,
td {
  border: 1px solid #e5e7eb;
  padding: 20px;
}
