/*
SR = Significant risk
GR = Greater risk
MR = Minor risk
LRS = low risk synergy
LRD = low risk decrease
LRNS = low risk no synergy
*/

.risk_SR{background-color: #e6827e;}
.risk_GR{background-color: #f79966;}
.risk_MR{background-color: #ffeabb;}
.risk_LRS{background-color: #c2dbe0;}
.risk_LRD{background-color: #c5bbdc;}
.risk_LRNS{background-color: #80a7cf;}

td.risk_unknown{background-color: grey;}
