/*// SR = Significant risk
// GR = Greater risk
// MR = Minor risk
// LRS = low risk synergy
// LRD = low risk decrease
// LRNS = low risk no synergy*/

.SR{background-color: #e6827e;}
.GR{background-color: #f79966;}
.MR{background-color: #ffeabb;}
.LRS{background-color: #c2dbe0;}
.LRD{background-color: #c5bbdc;}
.LRNS{background-color: #80a7cf;}

td.unknown{background-color: grey;}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}
th,
td {
  border: 1px solid #e5e7eb;
  padding: 20px;
}
